/* Rest CSS - credit: www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito", sans-serif;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

link,
a {
  text-decoration: none;
  color: inherit;
}

/* Typography */
.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.5%;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
}

.section-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
  color: var(--txt-gray);
}

@media (min-width: 48rem) {
  .section-title {
    font-size: 46px;
    line-height: 56px;
  }

  .section-description {
    font-size: 18px;
    line-height: 30px;
  }
}
