/* Utilities */
.lg-container {
  max-width: var(--lg-container);
  margin: 0 auto;
  padding-inline: 15px;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding-inline: 15px;
}

@media (min-width: 75rem) {
  .container {
    padding-inline: 0;
  }
}

@media (min-width: 85rem) {
  .lg-container {
    padding-inline: 0;
  }
}
